In [1]:
# Create code to answer each of the following questions.
# Hint: You will need multiple target URLs and multiple API requests.

# Dependencies
import matplotlib.pyplot as plt

import requests
import json
import pprint as pprint

import pandas as pd
import numpy as np

import time
from datetime import datetime
# Google API Key
from config import gkey

In [2]:
# 1. What are the geocoordinates (latitude and longitude) of Seattle,
# Washington?
target_city = input("Please input the city where you would like to move : ")
distance=float(input("Please input the radius around the city : "))

params = {"address": target_city, "key": gkey}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

print(f" The Geocoordinates of {target_city} is")

# Run request
response = requests.get(base_url, params=params)
print(response)

# Convert to JSON
target_geo = response.json()
pprint.pprint(target_geo)

# Extract lat/lng
lat = target_geo["results"][0]["geometry"]["location"]["lat"]
lng = target_geo["results"][0]["geometry"]["location"]["lng"]
state=target_geo["results"][0]["address_components"][2]["short_name"]

# Print results
print(f"{target_city}: {lat}, {lng}, {state}")

Please input the city where you would like to move : atlanta
Please input the radius around the city : 1
 The Geocoordinates of atlanta is
<Response [200]>
{'results': [{'address_components': [{'long_name': 'Atlanta',
                                      'short_name': 'Atlanta',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Fulton County',
                                      'short_name': 'Fulton County',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Georgia',
                                      'short_name': 'GA',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'United States',
                                      'short_name': 'US',
                                      'types': ['country', 'political']}],
              'formatted_address': 'Atlanta, GA, USA',
              'geometry': {'bounds': {'northeast': {'lat': 33.8876179,
                                                    'lng': -84.289389},
                                      'southwest': {'lat': 33.6478079,
                                                    'lng': -84.5518189}},
                           'location': {'lat': 33.7489954, 'lng': -84.3879824},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 33.8876179,
                                                      'lng': -84.289389},
                                        'southwest': {'lat': 33.6478079,
                                                      'lng': -84.5518189}}},
              'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY',
              'types': ['locality', 'political']}],
 'status': 'OK'}
atlanta: 33.7489954, -84.3879824, GA

In [3]:

p_params = {
    "latlng":f"{lat},{lng}",
    "result_type":"postal_code",
    "key":gkey
}

pcode_query = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json", params=p_params).json()
zip_code = pcode_query['results'][0]['address_components'][0]['long_name']
# Print results
print(f"city: {target_city},\nlatlng: ({lat}, {lng}),\nstate: {state},\nzip: {zip_code}")

city: atlanta,
latlng: (33.7489954, -84.3879824),
state: GA,
zip: 30334

In [4]:
Z_params = {
    "latlng":f"{lat},{lng}",
    "result_type":"postal_code",
    "key":gkey
}

url = 'http:/something/{key}/{result_type}'
url.format(**Z_params)

'http:/something/AIzaSyAbC923N_MY9a4c7fUci-MaLCOam8Ptiuo/postal_code'

In [5]:
# Get the list of zips 
Z_params = {
    "zip":zip_code,
    "distance":distance,
    "key":'w5DH9cOm06H85IaoFqaAX8VS14jPR9aXiskkhVzXWKZ6KSTiy0LJobTH0VRuJRNr'
}
print(Z_params)

url = "https://www.zipcodeapi.com/rest/{key}/radius.json/{zip}/{distance}/mile"
url.format(**Z_params)
Zcode_query = requests.get(url.format(**Z_params))

Zcode_query

{'zip': '30334', 'distance': 1.0, 'key': 'w5DH9cOm06H85IaoFqaAX8VS14jPR9aXiskkhVzXWKZ6KSTiy0LJobTH0VRuJRNr'}

In [6]:

# Convert to JSON
list_geo = Zcode_query.json()
#pprint.pprint(list_geo)
count=len(list_geo)
#print(count)
# # Extract zipcodes
ziplist = list_geo["zip_codes"]
Zip_Details_df=pd.DataFrame(ziplist)
Zip_Details_df

required_zips=Zip_Details_df["zip_code"]
required_zips
Zip_Details_df
required_zips

0     30379
1     30387
2     30389
3     30390
4     30399
5     31120
6     31197
7     31198
8     31199
9     30312
10    30334
11    30302
12    30321
13    30343
14    30353
15    30370
16    30392
17    30394
18    30303
Name: zip_code, dtype: object

# Neighbourghood Elizas Code

In [7]:
#target_coordinates = ["33.8876179, -84.289389","36.5582000,-87.1226","33.9963225, -84.0083548","33.75500, -84.39000","34.0296174, -84.2406057"]
target_coordinates =["45.5200,122.6600","45.5114,112.6457"]
j=len(target_coordinates)
print(j)
cafes_len = []
museum_len=[]
groceries_len = []
police_len = []
transit_station_len=[]
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for i,target_coordinate in enumerate(target_coordinates):
        print (target_coordinate)
        target_search="grocery_or_supermarket"
        target_radius=1500
        target_type= "grocery_or_supermarket"
        key='AIzaSyDC-djfofoGw5HOynqam0Hw5YHhG2gwuW4'
        params={
            "target_search":target_search,
            "location":target_coordinate,
            "radius":target_radius,
            "type": target_type,
             "key":key
            }

      

        response=requests.get(base_url, params=params)

        places_data=response.json()
        groceries=[]
        for item in places_data["results"]:
            groceries.append(item["name"])
        
        groceries_len.append(len(groceries))
        print (groceries_len)
       
    
    #police       
    
        target_search="police"
        target_type= "police"

        params={
            "target_search":target_search,
            "location":target_coordinate,
            "radius":target_radius,
            "type": target_type,
             "key":key
        }


        response1=requests.get(base_url, params=params)

        places_data=response1.json()
        
        police=[]
        for item in places_data["results"]:
            police.append(item["name"])
        police_len.append(len(police))
        print (police_len)
    
    
 #transit_station       
    
        target_search="transit_station "
        target_type= "transit_station "

        params={
            "target_search":target_search,
            "location":target_coordinate,
            "radius":target_radius,
            "type": target_type,
             "key":key
        }


        response1=requests.get(base_url, params=params)

        places_data=response1.json()
        
        transit_station =[]
        for item in places_data["results"]:
            transit_station .append(item["name"])
        transit_station_len.append(len(transit_station ))
        print (transit_station_len)
 

 #Museum       
    
        target_search="museum"
        target_type= "museum"

        params={
            "target_search":target_search,
            "location":target_coordinate,
            "radius":target_radius,
            "type": target_type,
             "key":key
        }


        response1=requests.get(base_url, params=params)

        places_data=response1.json()
        print( places_data)
        museum=[]
        print(museum)
        for item in places_data["results"]:
            museum.append(item["name"])
            print(museum)
        museum_len.append(len(museum))
        print (museum_len)

2
45.5200,122.6600
[0]
[0]
[2]
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
[]
[0]
45.5114,112.6457
[0, 0]
[0, 0]
[2, 0]
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
[]
[0, 0]

In [8]:
placedata_df= {
   
    "target_coordinates":target_coordinates,
    "grocery_stores":groceries_len,
    "police":police_len, 
    "museum":museum_len,
    "transit_station":transit_station_len
}
placedata_df
placedata_df_pd = pd.DataFrame(placedata_df)
placedata_df_pd

# Add the final scores
placedata_df_pd

placedata_df_pd["pg_avg_grocery_stores"]=""
placedata_df_pd["pg_avg_police"]=""
placedata_df_pd["pg_avg_museum"]=""
placedata_df_pd["pg_avg_transit_station"]=""

placedata_df_pd["score_grocery_stores"]=""
placedata_df_pd["score_avg_police"]=""
placedata_df_pd["score_avg_museum"]=""
placedata_df_pd["score_station"]=""
placedata_df_pd["total_score"]=""
placedata_df_pd

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_avg_museum,score_station,total_score
0,"45.5200,122.6600",0,0,0,2,,,,,,,,,
1,"45.5114,112.6457",0,0,0,0,,,,,,,,,

In [9]:
# seperate middle, elementary and high and assign scores

averagegrocery=placedata_df_pd["grocery_stores"].mean()
avergaepolice=placedata_df_pd["police"].mean()
avergaemuseum=placedata_df_pd["museum"].mean()
avergaetransit_station=placedata_df_pd["transit_station"].mean()

print(averagegrocery)
print(avergaepolice)
print(avergaemuseum)
print(avergaetransit_station)

# Assign scores 
placedata_df_pd["pg_avg_grocery_stores"]=(placedata_df_pd["grocery_stores"]/averagegrocery *100).fillna(0.0).astype(int)

# Assign scores 
placedata_df_pd["pg_avg_police"]=(placedata_df_pd["police"]/avergaepolice*100 ).fillna(0.0).astype(int)

# Assign scores to 
placedata_df_pd["pg_avg_museum"]=(placedata_df_pd["museum"]/avergaemuseum*100 ).fillna(0.0).astype(int)
# Assign scores to 
placedata_df_pd["pg_avg_transit_station"]= placedata_df_pd["transit_station"]/avergaetransit_station *100

placedata_df_pd

0.0
0.0
0.0
1.0

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_avg_museum,score_station,total_score
0,"45.5200,122.6600",0,0,0,2,0,0,0,200.0,,,,,
1,"45.5114,112.6457",0,0,0,0,0,0,0,0.0,,,,,

In [10]:
placedata_df_pd["score_grocery_stores"]=""
placedata_df_pd["score_avg_police"]=""
placedata_df_pd["score_avg_museum"]=""
placedata_df_pd["score_station"]=""
placedata_df_pd["total_score"]=""


def k(x):
    if x >= 100:
        return 10
        
   
    elif x == 100:
        return 7.5
    
    elif x >= 50 and  x < 100:
        return 5
    
    elif x > 0 and  x < 50:
       return 1

    else:
        return 0
 

def l(x):
    return (x['score_grocery_stores']+x['score_avg_police'] +x['score_station']+x['score_avg_museum'])
        
        
placedata_df_pd["score_grocery_stores"]= placedata_df_pd.apply(lambda row: k(row['pg_avg_grocery_stores']), axis=1)

placedata_df_pd["score_avg_police"]= placedata_df_pd.apply(lambda row: k(row['pg_avg_police']), axis=1)

placedata_df_pd["score_station"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_transit_station']), axis=1)
placedata_df_pd["score_avg_museum"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_museum']), axis=1)


placedata_df_pd["total_score"] = placedata_df_pd.apply(lambda row: l(row), axis=1)


placedata_df_pd.head()

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_avg_museum,score_station,total_score
0,"45.5200,122.6600",0,0,0,2,0,0,0,200.0,0,0,0,10,10
1,"45.5114,112.6457",0,0,0,0,0,0,0,0.0,0,0,0,0,0

# SCHOOL

In [11]:
school_base_url="https://api.schooldigger.com/v1.1/schools?"

In [12]:
# Inititalize arrays for all the various parameters returned from response of call that is needed

postal=[]
schoolLevel=[]
rankStars=[]
rankStatewidePercentage=[]
averageStandardScore=[]
rankMovement=[]
pupilTeacherRatio=[]

In [13]:
# call the API for all codes by parameterization

for zip  in required_zips:
    params = {
            "appID":'cdcbd9a2',
            "appKey":'f21463a388bc041e25afa5dc32fb5014',
            "st":'GA',
            "zip":zip
             }

   # assemble url and make API request
    print("im here")
    response = requests.get(school_base_url, params=params).json()
    response_df=pd.DataFrame(response)
    
    numberofresults=len(response_df)
    for i in range(numberofresults):
         
        schoolLevel.append(response_df["schoolList"][i].get("schoolLevel",np.nan))
        rankMovement.append(response_df["schoolList"][i].get("rankMovement",np.nan))
        postal.append(response_df["schoolList"][i]["address"].get("zip",np.nan))            

        try:
           # if "rankHistory" in response_df["schoolList"][i]:
                rankStars.append(response_df["schoolList"][i]["rankHistory"][0].get("rankStars",np.nan))
                rankStatewidePercentage.append(response_df["schoolList"][i]["rankHistory"][0].get("rankStatewidePercentage",np.nan))
                averageStandardScore.append(response_df["schoolList"][i]["rankHistory"][0].get("averageStandardScore",np.nan))
        except (KeyError, IndexError, TypeError):
                rankStars.append(np.nan)
                rankStatewidePercentage.append(np.nan)
                averageStandardScore.append(np.nan)
        try:    
          #  if "schoolYearlyDetails" in response_df["schoolList"][i]:
                pupilTeacherRatio.append(response_df["schoolList"][i]["schoolYearlyDetails"][0].get("pupilTeacherRatio",np.nan))
    
        except (KeyError, IndexError, TypeError):
               pupilTeacherRatio.append(np.nan)
                
        time.sleep(30)

im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here
im here

In [14]:
response_df

,_comment,numberOfSchools,numberOfPages,schoolList
0,NOTICE: API limit for Dev/Test is 1 call per m...,2,1,"{'schoolid': '130002703682', 'schoolName': 'Sc..."
1,NOTICE: API limit for Dev/Test is 1 call per m...,2,1,"{'schoolid': '130023104095', 'schoolName': 'Sc..."

In [15]:
numberofresults=len(response_df)
numberofresults

2

In [16]:
print(len(postal))
print(len(schoolLevel))
print(len(rankStars))
print(len(rankStatewidePercentage))
print(len(averageStandardScore))
print(len(rankMovement))
print(len(pupilTeacherRatio))

8
8
8
8
8
8
8

In [17]:
# create a data frame from all schools
school_dict = {
        "postal":postal,
        "schoolLevel":schoolLevel,
        "rankStars":rankStars,
        "rankStatewidePercentage":rankStatewidePercentage,
        "averageStandardScore":averageStandardScore,
        "rankMovement":rankMovement,
        "pupilTeacherRatio":pupilTeacherRatio
    
    
}
school_dict_pd_nan = pd.DataFrame(school_dict)
school_dict_pd=school_dict_pd_nan
# inplace replcae nan with 0 for calculations 
school_dict_pd.replace(np.nan, 0, inplace=True)
school_dict_pd

,postal,schoolLevel,rankStars,rankStatewidePercentage,averageStandardScore,rankMovement,pupilTeacherRatio
0,99999,Elementary,3.0,93.70,42.53,-11.0,12.6
1,99999,Middle,0.0,85.89,74.92,56.0,15.4
2,99999,Elementary,4.0,25.13,4.08,-99.0,13.5
3,99999,Private,0.0,0.00,0.00,0.0,3.8
4,99999,Elementary,3.0,5.34,69.60,-44.0,13.1
5,99999,Elementary,4.0,97.56,66.83,-42.0,12.0
6,99999,High,0.0,0.00,0.00,0.0,0.0
7,99999,High,1.0,62.84,22.03,67.0,23.3

In [18]:
#rankStatewidePercentage	averageStandardScore	rankMovement	pupilTeacherRatio
school_dict_pd["pg_avg_rankStars"]=""
school_dict_pd["pg_avg_rankStatewidePercentage"]=""
school_dict_pd["pg_avg_averageStandardScore"]=""
school_dict_pd["pg_avg_rankMovement"]=""
school_dict_pd["pg_avg_pupilTeacherRatio"]=""
school_dict_pd["pt_rankStars"]=""
school_dict_pd["pt_rankStatewidePercentage"]=""
school_dict_pd["pt_averageStandardScore"]=""
school_dict_pd["pt_rankMovement"]=""
school_dict_pd["pt_pupilTeacherRatio"]=""
school_dict_pd["total_points"]=""
school_dict_pd.head()

school_dict_pd

,postal,schoolLevel,rankStars,rankStatewidePercentage,averageStandardScore,rankMovement,pupilTeacherRatio,pg_avg_rankStars,pg_avg_rankStatewidePercentage,pg_avg_averageStandardScore,pg_avg_rankMovement,pg_avg_pupilTeacherRatio,pt_rankStars,pt_rankStatewidePercentage,pt_averageStandardScore,pt_rankMovement,pt_pupilTeacherRatio,total_points
0,99999,Elementary,3.0,93.70,42.53,-11.0,12.6,,,,,,,,,,,
1,99999,Middle,0.0,85.89,74.92,56.0,15.4,,,,,,,,,,,
2,99999,Elementary,4.0,25.13,4.08,-99.0,13.5,,,,,,,,,,,
3,99999,Private,0.0,0.00,0.00,0.0,3.8,,,,,,,,,,,
4,99999,Elementary,3.0,5.34,69.60,-44.0,13.1,,,,,,,,,,,
5,99999,Elementary,4.0,97.56,66.83,-42.0,12.0,,,,,,,,,,,
6,99999,High,0.0,0.00,0.00,0.0,0.0,,,,,,,,,,,
7,99999,High,1.0,62.84,22.03,67.0,23.3,,,,,,,,,,,

In [19]:
# seperate middle, elementary and high and assign scores
school_elementary_pd=school_dict_pd[school_dict_pd['schoolLevel']=='Elementary']
school_elementary_pd = school_elementary_pd.copy()
averagerankStars=school_elementary_pd["rankStars"].mean()
averagerankStars

avergaerankStatewidePercentage=school_elementary_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore=school_elementary_pd["averageStandardScore"].mean()
avergaerankMovement=school_elementary_pd["rankMovement"].mean()
avergaepupilTeacherRatio=school_elementary_pd["pupilTeacherRatio"].mean()


# Assign scores pg_avg_rankStars
school_elementary_pd["pg_avg_rankStars"]=(school_elementary_pd["rankStars"]/averagerankStars *10).fillna(0.0).astype(int)

# Assign scores to pg_avg_rankStatewidePercentage
school_elementary_pd["pg_avg_rankStatewidePercentage"]=(school_elementary_pd["rankStatewidePercentage"]/avergaerankStatewidePercentage *10).fillna(0.0).astype(int)

# Assign scores to pg_avg_averageStandardScore
school_elementary_pd["pg_avg_averageStandardScore"]=(school_elementary_pd["averageStandardScore"]/avergaeaverageStandardScore *10).fillna(0.0).astype(int)
# Assign scores to pg_avg_rankMovement
school_elementary_pd["pg_avg_rankMovement"]= school_elementary_pd["rankMovement"]/avergaerankMovement *10


# Assign scores to pg_avg_pupilTeacherRatio
school_elementary_pd["pg_avg_pupilTeacherRatio"]=(school_elementary_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)

school_elementary_pd = school_elementary_pd.copy()



def f(x):
    if x >= 10:
        return 10
        
   
    elif x <= 0:
        return 1
       
    else:
        return x 
def g(x):
    if x >= 5:
        return 10
        
   
    elif x <= 0:
        return 1
       
    else:
        return 5 
    
def h(x):
    
        return x['pt_rankStars']+x['pt_rankStatewidePercentage'] +x['pt_averageStandardScore']+x['pt_rankMovement']+x['pt_pupilTeacherRatio']
        
        
school_elementary_pd['pt_rankStars'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)

school_elementary_pd['pt_rankStatewidePercentage'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)

school_elementary_pd['pt_averageStandardScore'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)

school_elementary_pd['pt_rankMovement'] = school_elementary_pd.apply(lambda row: g(row['rankMovement']), axis=1)

school_elementary_pd['pt_pupilTeacherRatio'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)

school_elementary_pd['total_points']= school_elementary_pd.apply(lambda row: h(row),axis=1)

school_elementary_pd.head()
school_elementary_points=school_elementary_pd[['postal','total_points']]
school_elementary_points

elementary_groupby=school_elementary_points.groupby('postal').mean()
elementary_groupby

        total_points
postal
99999          33.25

In [20]:
# seperate middle, middle and high and assign scores
school_middle_pd=school_dict_pd[school_dict_pd['schoolLevel']=='Middle']
school_middle_pd = school_middle_pd.copy()
averagerankStars=school_middle_pd["rankStars"].mean()
averagerankStars

avergaerankStatewidePercentage=school_middle_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore=school_middle_pd["averageStandardScore"].mean()
avergaerankMovement=school_middle_pd["rankMovement"].mean()
avergaepupilTeacherRatio=school_middle_pd["pupilTeacherRatio"].mean()



# Assign scores pg_avg_rankStars
school_middle_pd["pg_avg_rankStars"]=(school_middle_pd["rankStars"]/averagerankStars *10).fillna(0.0).astype(int)

# Assign scores to pg_avg_rankStatewidePercentage
school_middle_pd["pg_avg_rankStatewidePercentage"]=(school_middle_pd["rankStatewidePercentage"]/avergaerankStatewidePercentage *10).fillna(0.0).astype(int)

# Assign scores to pg_avg_averageStandardScore
school_middle_pd["pg_avg_averageStandardScore"]=(school_middle_pd["averageStandardScore"]/avergaeaverageStandardScore *10).fillna(0.0).astype(int)
# Assign scores to pg_avg_rankMovement
school_middle_pd["pg_avg_rankMovement"]= school_middle_pd["rankMovement"]/avergaerankMovement *10


# Assign scores to pg_avg_pupilTeacherRatio
school_middle_pd["pg_avg_pupilTeacherRatio"]=(school_middle_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)

        
school_middle_pd['pt_rankStars'] = school_middle_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)

school_middle_pd['pt_rankStatewidePercentage'] = school_middle_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)

school_middle_pd['pt_averageStandardScore'] = school_middle_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)

school_middle_pd['pt_rankMovement'] = school_middle_pd.apply(lambda row: g(row['rankMovement']), axis=1)

school_middle_pd['pt_pupilTeacherRatio'] = school_middle_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)

school_middle_pd['total_points']= school_middle_pd.apply(lambda row: h(row),axis=1)


school_middle_pd.head()
school_middle_points=school_middle_pd[['postal','total_points']]
school_middle_points


middle_groupby=school_middle_points.groupby('postal').mean()
middle_groupby

        total_points
postal
99999             41

In [21]:
# seperate high, high and high and assign scores
school_high_pd=school_dict_pd[school_dict_pd['schoolLevel']=='High']
school_high_pd = school_high_pd.copy()
averagerankStars=school_high_pd["rankStars"].mean()
averagerankStars

avergaerankStatewidePercentage=school_high_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore=school_high_pd["averageStandardScore"].mean()
avergaerankMovement=school_high_pd["rankMovement"].mean()
avergaepupilTeacherRatio=school_high_pd["pupilTeacherRatio"].mean()


# Assign scores pg_avg_rankStars
school_high_pd["pg_avg_rankStars"]=(school_high_pd["rankStars"]/averagerankStars *10).fillna(0.0).astype(int)

# Assign scores to pg_avg_rankStatewidePercentage
school_high_pd["pg_avg_rankStatewidePercentage"]=(school_high_pd["rankStatewidePercentage"]/avergaerankStatewidePercentage *10).fillna(0.0).astype(int)

# Assign scores to pg_avg_averageStandardScore
school_high_pd["pg_avg_averageStandardScore"]=(school_high_pd["averageStandardScore"]/avergaeaverageStandardScore *10).fillna(0.0).astype(int)
# Assign scores to pg_avg_rankMovement
school_high_pd["pg_avg_rankMovement"]= school_high_pd["rankMovement"]/avergaerankMovement *10


# Assign scores to pg_avg_pupilTeacherRatio
school_high_pd["pg_avg_pupilTeacherRatio"]=(school_high_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)

school_high_pd = school_high_pd.copy()
        
school_high_pd['pt_rankStars'] = school_high_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)

school_high_pd['pt_rankStatewidePercentage'] = school_high_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)

school_high_pd['pt_averageStandardScore'] = school_high_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)

school_high_pd['pt_rankMovement'] = school_high_pd.apply(lambda row: g(row['rankMovement']), axis=1)

school_high_pd['pt_pupilTeacherRatio'] = school_high_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)

school_high_pd['total_points']= school_high_pd.apply(lambda row: h(row),axis=1)

school_high_pd.head()
school_high_points=school_high_pd[['postal','total_points']]
school_high_points


high_groupby=school_high_points.groupby('postal').mean()
high_groupby

        total_points
postal
99999           27.5

In [22]:
zip_final_school_score=[]



combined_df = pd.merge(high_groupby, middle_groupby, how='outer', on='postal')
zip_final_school_score_nan= pd.merge(combined_df, elementary_groupby, how='outer', on='postal')
zip_final_school_score_nan.head()

zip_final_school_score_nan
zip_final_school_score=zip_final_school_score_nan
# inplace replcae nan with 0 for calculations 
zip_final_school_score.replace(np.nan, 0, inplace=True)

In [23]:
zip_final_school_score.rename(columns={'total_points_x': 'high_score','total_points_y': 'middle_score', 'total_points': 'elementary_score'}, inplace=True)

In [24]:


def i(x):
    
        return (x['high_score']+x['middle_score'] +x['elementary_score'])/15
        
        
zip_final_school_score['final_score'] = zip_final_school_score.apply(lambda row: i(row), axis=1)

zip_final_school_score

        high_score  middle_score  elementary_score  final_score
postal
99999         27.5            41             33.25     6.783333