In [23]:
# helper functions

# get http request headers
def getHeaders():
    headers = {
        "apikey":akey,
        "accept":"application/json"
    }
    return headers


# GET /property/address via zip code
def fetch(url, params):
    headers = getHeaders()
    res = requests.get(url, headers=headers, params=params).json()
    return res


# show load bar and wait for next request
def wait(t):    
    sys.stdout.write('.')
    sys.stdout.flush()
    time.sleep(t)
    

def f(x):
    if x >= 10:
        return 10
    elif x <= 0:
        return 1
       
    else:
        return x 
    

def g(x):
    if x >= 5:
        return 10
    elif x <= 0:
        return 1
    else:
        return 5 
    
    
def h(x):
    return x['pt_rankStars']+x['pt_rankStatewidePercentage']+x['pt_averageStandardScore']+x['pt_rankMovement']+x['pt_pupilTeacherRatio']


def i(x):
    return (x['high_score']+x['middle_score'] +x['elementary_score'])/15


def k(x):
    if x >= 100:
        return 10
    elif x == 100:
        return 7.5
    elif x >= 50 and  x < 100:
        return 5
    elif x > 0 and  x < 50:
        return 1
    else:
        return 0


def l(x):
    return (x['score_grocery_stores']+x['score_avg_police']+x['score_station']+x['score_avg_museum'])

In [1]:
# Dependencies
import sys
import time
import json
import requests
import importlib
import numpy as np
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt
from config import gkey, zkey, zws_id, akey

In [2]:
# get list of zipcodes
%run ./write_zips.ipynb
import zipcodes
importlib.reload(zipcodes)
required_zips = zipcodes.ziplist

Target city: atlanta
Search radius: 1

In [3]:
# get lat, lng coords from ziplist
gurl = "https://maps.googleapis.com/maps/api/geocode/json?"
response = []
latlngs = []
target_coordinates = []

for z in required_zips:
    params = {
        "address":z,
        "key":gkey
    }

    res = requests.get(gurl, params=params).json()
    response.append(res)
    

for r in response:
    try:
        lat = (r['results'][0]['geometry']['location']['lat'])
        lng = (r['results'][0]['geometry']['location']['lng'])
        latlngs.append({"lat":lat, "lng":lng})
        target_coordinates.append({"lat":lat, "lng":lng})

    except:
        continue

# Price Analysis

In [6]:
# get properties for each zip code (10 queries/min)
url = "https://search.onboard-apis.com/propertyapi/v1.0.0/property/address?"
sys.stdout.write('working..')
property_results = []

for z in required_zips:
    params = {
        "postalcode": z,
        "propertytype":"RESIDENTIAL (NEC)",
        "pagesize":"100"
    }
    
    res = fetch(url, params)
    
    property_results.append(res)
    wait(10)

working.....................

In [7]:
# get attomIds from property results
properties = []
attomIds = []

for p in property_results:
    for q in p['property']:
        properties.append(q)

props_df = pd.DataFrame(properties)
attomId_series = props_df['identifier']

for a in attomId_series:
    attomIds.append(a['attomId'])

In [8]:
# get home values for each property (10 queries/min)
url = "https://search.onboard-apis.com/propertyapi/v1.0.0/property/basicprofile?"
sys.stdout.write("working..")
hv_results = []

for a in attomIds:
    params = {
        "attomId": a,
        "page":"1",
        "pagesize":"100"
    }

    idres = fetch(url, params)
    hv_results.append(idres)    
    wait(10)

working.......................

In [9]:
prop_res = pd.DataFrame(hv_results)
props = prop_res['property']
zcmkv = []

for i in range(len(props)):
    zcmkv.append({"zipcode":props[i][0]['address']['postal1'], "avg_mkt_val":int(props[i][0]['assessment']['market']['mktTtlValue'])})

zips_mktvals_df = pd.DataFrame(zcmkv).set_index('zipcode')
mkt_avg = zips_mktvals_df.groupby('zipcode').sum()/len(props)

mkt_avg_df = pd.DataFrame(mkt_avg)
mkt_avg_df = mkt_avg_df.reset_index()
mkt_avg_df.style.format({'avg_mkt_val':'${:,.2f}'})

# Neighbourhood Elisas Code

In [10]:
# target_coordinates = ["45.5200,122.6600","45.5114,112.6457"]
# key = 'AIzaSyDC-djfofoGw5HOynqam0Hw5YHhG2gwuW4'
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

cafes_len = []
museum_len = []
groceries_len = []
police_len = []
transit_station_len = []

for i,target_coordinate in enumerate(target_coordinates):
    target_search = "grocery_or_supermarket"
    target_radius = 1500
    target_type = "grocery_or_supermarket"

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type":target_type,
         "key":gkey
    }

    response = requests.get(base_url, params=params)

    places_data = response.json()
    groceries = []
    for item in places_data["results"]:
        groceries.append(item["name"])

    groceries_len.append(len(groceries))
    
    #police
    police = []
    target_search = "police"
    target_type = "police"

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type":target_type,
        "key":gkey
    }

    response1 = requests.get(base_url, params=params)
    places_data = response1.json()

    for item in places_data["results"]:
        police.append(item["name"])
    police_len.append(len(police))

    # transit_station
    transit_station = []
    target_search = "transit_station "
    target_type = "transit_station "

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type":target_type,
        "key":gkey
    }

    response1=requests.get(base_url, params=params)
    places_data=response1.json()

    for item in places_data["results"]:
        transit_station.append(item["name"])
    transit_station_len.append(len(transit_station ))

    # museum       
    museum = []
    target_search = "museum"
    target_type = "museum"

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type":target_type,
         "key":key
    }

    response1 = requests.get(base_url, params=params)
    places_data = response1.json()
    
    for item in places_data["results"]:
        museum.append(item["name"])

    museum_len.append(len(museum))

In [11]:
placedata_df = {
    "target_coordinates":target_coordinates,
    "grocery_stores":groceries_len,
    "police":police_len, 
    "museum":museum_len,
    "transit_station":transit_station_len
}

placedata_df_pd = pd.DataFrame(placedata_df)

In [12]:
# extract graocery stores, police stations, museums, transit stations and assign scores
averagegrocery = placedata_df_pd["grocery_stores"].mean()
avergaepolice = placedata_df_pd["police"].mean()
avergaemuseum = placedata_df_pd["museum"].mean()
avergaetransit_station = placedata_df_pd["transit_station"].mean()

# Assign scores 
placedata_df_pd["pg_avg_grocery_stores"] = (placedata_df_pd["grocery_stores"]/averagegrocery*100).fillna(0.0).astype(int)
placedata_df_pd["pg_avg_police"] = (placedata_df_pd["police"]/avergaepolice*100 ).fillna(0.0).astype(int)
placedata_df_pd["pg_avg_museum"] = (placedata_df_pd["museum"]/avergaemuseum*100 ).fillna(0.0).astype(int)
placedata_df_pd["pg_avg_transit_station"] = placedata_df_pd["transit_station"]/avergaetransit_station*100

In [27]:
placedata_df_pd["score_grocery_stores"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_grocery_stores']), axis=1)
placedata_df_pd["score_avg_police"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_police']), axis=1)
placedata_df_pd["score_station"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_transit_station']), axis=1)
placedata_df_pd["score_avg_museum"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_museum']), axis=1)
placedata_df_pd["total_score"] = placedata_df_pd.apply(lambda row: l(row), axis=1)
placedata_df_pd

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_station,score_avg_museum,total_score
0,"{'lat': 28.048427, 'lng': -82.7376544}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
1,"{'lat': 33.7440941, 'lng': -84.377861}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
2,"{'lat': 33.7476898, 'lng': -84.38804329999999}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
3,"{'lat': 33.75, 'lng': -84.39999999999999}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
4,"{'lat': 33.76, 'lng': -84.39}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
5,"{'lat': 33.75, 'lng': -84.39}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
6,"{'lat': 33.75, 'lng': -84.39}",0,0,0,0,0,0,0,NaN,0,0,0,0,0
7,"{'lat': 33.755711, 'lng': -84.3883717}",0,0,0,0,0,0,0,NaN,0,0,0,0,0

# SCHOOL

In [15]:
# Inititalize arrays for all the various parameters returned from response of call that is needed
postal = []
schoolLevel = []
rankStars = []
rankStatewidePercentage = []
averageStandardScore = []
rankMovement = []
pupilTeacherRatio = []

In [16]:
school_base_url="https://api.schooldigger.com/v1.1/schools?"

for zip in required_zips:
    params = {
        "appID":'cdcbd9a2',
        "appKey":'f21463a388bc041e25afa5dc32fb5014',
        "st":'GA',
        "zip":zip
    }

    # assemble url and make API request
    response = requests.get(school_base_url, params=params).json()
    response_df = pd.DataFrame(response)
    
    numberofresults = len(response_df)
    for i in range(numberofresults):
        schoolLevel.append(response_df["schoolList"][i].get("schoolLevel",np.nan))
        rankMovement.append(response_df["schoolList"][i].get("rankMovement",np.nan))
        postal.append(response_df["schoolList"][i]["address"].get("zip",np.nan))            

        try:
            rankStars.append(response_df["schoolList"][i]["rankHistory"][0].get("rankStars",np.nan))
            rankStatewidePercentage.append(response_df["schoolList"][i]["rankHistory"][0].get("rankStatewidePercentage",np.nan))
            averageStandardScore.append(response_df["schoolList"][i]["rankHistory"][0].get("averageStandardScore",np.nan))

        except (KeyError, IndexError, TypeError):
            rankStars.append(np.nan)
            rankStatewidePercentage.append(np.nan)
            averageStandardScore.append(np.nan)
                
        try:    
            pupilTeacherRatio.append(response_df["schoolList"][i]["schoolYearlyDetails"][0].get("pupilTeacherRatio",np.nan))
    
        except (KeyError, IndexError, TypeError):
            pupilTeacherRatio.append(np.nan)

        time.sleep(30)

In [17]:
response

{'_comment': 'NOTICE: API limit for Dev/Test is 1 call per minute, up to 20 calls per day. This limit has been reached. You may continue to make calls, but this result is bogus data and should not be used in a production environment. To change your API plan, go to https://developer.schooldigger.com/admin/applications/',
 'numberOfSchools': 2,
 'numberOfPages': 1,
 'schoolList': [{'schoolid': '130002703682',
   'schoolName': 'School #111801018',
   'phone': '(555) 555-5555',
   'url': 'https://www.schooldigger.com/(pathtoitem)',
   'urlCompare': 'https://www.schooldigger.com/(pathtoitem)',
   'address': {'street': '123 Main St.',
    'city': 'Anytown',
    'state': 'CA',
    'stateFull': 'California',
    'zip': '99999',
    'zip4': '9999',
    'cityURL': 'https://www.schooldigger.com/go/CA/city/Anytown/search.aspx',
    'zipURL': 'https://www.schooldigger.com/go/CA/zip/99999/search.aspx',
    'html': '123 Main St.<br />Anytown, CA 99999-9999'},
   'lowGrade': '12',
   'highGrade': '12',
   'schoolLevel': 'High',
   'isCharterSchool': 'No',
   'isMagnetSchool': 'No',
   'isVirtualSchool': 'No',
   'isTitleISchool': 'No',
   'isTitleISchoolwideSchool': '(n/a)',
   'district': {'districtID': '1300027',
    'districtName': 'School District #1212083388',
    'url': 'https://www.schooldigger.com/(pathtoitem)',
    'rankURL': 'https://www.schooldigger.com/(pathtorank)'},
   'county': {'countyName': 'AnyCounty',
    'countyURL': 'https://www.schooldigger.com/go/CA/county/AnyCounty/search.aspx'},
   'rankHistory': None,
   'rankMovement': None,
   'schoolYearlyDetails': [{'year': 2016,
     'numberOfStudents': 261,
     'percentFreeDiscLunch': None,
     'percentofAfricanAmericanStudents': 47.98,
     'percentofAsianStudents': 32.37,
     'percentofHispanicStudents': 61.07,
     'percentofIndianStudents': 69.18,
     'percentofPacificIslanderStudents': 50.95,
     'percentofWhiteStudents': 84.73,
     'percentofTwoOrMoreRaceStudents': 13.26,
     'percentofUnspecifiedRaceStudents': None,
     'teachersFulltime': None,
     'pupilTeacherRatio': None,
     'numberofAfricanAmericanStudents': 70,
     'numberofAsianStudents': 25,
     'numberofHispanicStudents': 58,
     'numberofIndianStudents': 44,
     'numberofPacificIslanderStudents': 60,
     'numberofWhiteStudents': 62,
     'numberofTwoOrMoreRaceStudents': 44,
     'numberofUnspecifiedRaceStudents': None}],
   'isPrivate': False,
   'privateDays': None,
   'privateHours': None,
   'privateHasLibrary': None,
   'privateCoed': None,
   'privateOrientation': None,
   'hasBoundary': False},
  {'schoolid': '130023104095',
   'schoolName': 'School #712307553',
   'phone': '(555) 555-5555',
   'url': 'https://www.schooldigger.com/(pathtoitem)',
   'urlCompare': 'https://www.schooldigger.com/(pathtoitem)',
   'address': {'street': '123 Main St.',
    'city': 'Anytown',
    'state': 'CA',
    'stateFull': 'California',
    'zip': '99999',
    'zip4': '9999',
    'cityURL': 'https://www.schooldigger.com/go/CA/city/Anytown/search.aspx',
    'zipURL': 'https://www.schooldigger.com/go/CA/zip/99999/search.aspx',
    'html': '123 Main St.<br />Anytown, CA 99999-9999'},
   'lowGrade': '9',
   'highGrade': '12',
   'schoolLevel': 'High',
   'isCharterSchool': 'Yes',
   'isMagnetSchool': 'No',
   'isVirtualSchool': 'No',
   'isTitleISchool': 'Yes',
   'isTitleISchoolwideSchool': 'No',
   'district': {'districtID': '1300231',
    'districtName': 'School District #929016554',
    'url': 'https://www.schooldigger.com/(pathtoitem)',
    'rankURL': 'https://www.schooldigger.com/(pathtorank)'},
   'county': {'countyName': 'AnyCounty',
    'countyURL': 'https://www.schooldigger.com/go/CA/county/AnyCounty/search.aspx'},
   'rankHistory': [{'year': 2018,
     'rank': 24,
     'rankOf': 1000,
     'rankStars': 1,
     'rankLevel': 'High',
     'rankStatewidePercentage': 61.41,
     'averageStandardScore': 60.62},
    {'year': 2017,
     'rank': 347,
     'rankOf': 1000,
     'rankStars': 0,
     'rankLevel': 'High',
     'rankStatewidePercentage': 7.89,
     'averageStandardScore': 16.43}],
   'rankMovement': -75,
   'schoolYearlyDetails': [{'year': 2016,
     'numberOfStudents': 889,
     'percentFreeDiscLunch': 93.74,
     'percentofAfricanAmericanStudents': 40.87,
     'percentofAsianStudents': 70.03,
     'percentofHispanicStudents': 18.07,
     'percentofIndianStudents': 82.23,
     'percentofPacificIslanderStudents': 86.44,
     'percentofWhiteStudents': 20.92,
     'percentofTwoOrMoreRaceStudents': 10.5,
     'percentofUnspecifiedRaceStudents': None,
     'teachersFulltime': 80.0,
     'pupilTeacherRatio': 23.3,
     'numberofAfricanAmericanStudents': 86,
     'numberofAsianStudents': 69,
     'numberofHispanicStudents': 80,
     'numberofIndianStudents': 12,
     'numberofPacificIslanderStudents': 66,
     'numberofWhiteStudents': 78,
     'numberofTwoOrMoreRaceStudents': 85,
     'numberofUnspecifiedRaceStudents': None}],
   'isPrivate': False,
   'privateDays': None,
   'privateHours': None,
   'privateHasLibrary': None,
   'privateCoed': None,
   'privateOrientation': None,
   'hasBoundary': False}]}

In [18]:
# create a data frame from all schools
school_dict = {
        "postal":postal,
        "schoolLevel":schoolLevel,
        "rankStars":rankStars,
        "rankStatewidePercentage":rankStatewidePercentage,
        "averageStandardScore":averageStandardScore,
        "rankMovement":rankMovement,
        "pupilTeacherRatio":pupilTeacherRatio
}

school_dict_pd = pd.DataFrame(school_dict)
school_dict_pd.replace(np.nan, 0, inplace=True)
school_dict_pd

,postal,schoolLevel,rankStars,rankStatewidePercentage,averageStandardScore,rankMovement,pupilTeacherRatio
0,99999,Elementary,0.0,83.69,20.63,-72.0,12.6
1,99999,Middle,0.0,40.10,6.76,69.0,15.4
2,99999,Elementary,1.0,52.56,98.08,67.0,13.5
3,99999,Private,0.0,0.00,0.00,0.0,3.8
4,99999,Elementary,0.0,16.29,59.46,3.0,13.1
5,99999,Elementary,1.0,44.49,16.07,-69.0,12.0
6,99999,High,0.0,0.00,0.00,0.0,0.0
7,99999,High,1.0,61.41,60.62,-75.0,23.3

In [19]:
# seperate middle, elementary and high and assign scores
school_elementary_pd = school_dict_pd[school_dict_pd['schoolLevel'] == 'Elementary']
school_elementary_pd = school_elementary_pd.copy()
averagerankStars = school_elementary_pd["rankStars"].mean()

avergaerankStatewidePercentage = school_elementary_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore = school_elementary_pd["averageStandardScore"].mean()
avergaerankMovement = school_elementary_pd["rankMovement"].mean()
avergaepupilTeacherRatio = school_elementary_pd["pupilTeacherRatio"].mean()

# Assign scores
school_elementary_pd["pg_avg_rankStars"] = (school_elementary_pd["rankStars"]/averagerankStars *10).fillna(0.0).astype(int)
school_elementary_pd["pg_avg_rankStatewidePercentage"] = (school_elementary_pd["rankStatewidePercentage"]/avergaerankStatewidePercentage *10).fillna(0.0).astype(int)
school_elementary_pd["pg_avg_averageStandardScore"] = (school_elementary_pd["averageStandardScore"]/avergaeaverageStandardScore *10).fillna(0.0).astype(int)
school_elementary_pd["pg_avg_rankMovement"] = school_elementary_pd["rankMovement"]/avergaerankMovement *10
school_elementary_pd["pg_avg_pupilTeacherRatio"] = (school_elementary_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)

school_elementary_pd['pt_rankStars'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)
school_elementary_pd['pt_rankStatewidePercentage'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)
school_elementary_pd['pt_averageStandardScore'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)
school_elementary_pd['pt_rankMovement'] = school_elementary_pd.apply(lambda row: g(row['rankMovement']), axis=1)
school_elementary_pd['pt_pupilTeacherRatio'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)
school_elementary_pd['total_points'] = school_elementary_pd.apply(lambda row: h(row),axis=1)
school_elementary_points = school_elementary_pd[['postal','total_points']]
elementary_groupby = school_elementary_points.groupby('postal').mean()

# elementary_groupby
school_elementary_pd

,postal,schoolLevel,rankStars,rankStatewidePercentage,averageStandardScore,rankMovement,pupilTeacherRatio,pg_avg_rankStars,pg_avg_rankStatewidePercentage,pg_avg_averageStandardScore,pg_avg_rankMovement,pg_avg_pupilTeacherRatio,pt_rankStars,pt_rankStatewidePercentage,pt_averageStandardScore,pt_rankMovement,pt_pupilTeacherRatio,total_points
0,99999,Elementary,0.0,83.69,20.63,-72.0,12.6,0,16,4,40.563380,9,1,10,4,1,9,25
2,99999,Elementary,1.0,52.56,98.08,67.0,13.5,20,10,20,-37.746479,10,10,10,10,10,10,50
4,99999,Elementary,0.0,16.29,59.46,3.0,13.1,0,3,12,-1.690141,10,1,3,10,5,10,29
5,99999,Elementary,1.0,44.49,16.07,-69.0,12.0,20,9,3,38.873239,9,10,9,3,1,9,32

In [20]:
# seperate middle, middle and high and assign scores
school_middle_pd = school_dict_pd[school_dict_pd['schoolLevel']=='Middle']
school_middle_pd = school_middle_pd.copy()
averagerankStars = school_middle_pd["rankStars"].mean()
avergaerankStatewidePercentage = school_middle_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore = school_middle_pd["averageStandardScore"].mean()
avergaerankMovement = school_middle_pd["rankMovement"].mean()
avergaepupilTeacherRatio = school_middle_pd["pupilTeacherRatio"].mean()

# Assign scores
school_middle_pd["pg_avg_rankStars"] = (school_middle_pd["rankStars"]/averagerankStars *10).fillna(0.0).astype(int)
school_middle_pd["pg_avg_rankStatewidePercentage"] = (school_middle_pd["rankStatewidePercentage"]/avergaerankStatewidePercentage *10).fillna(0.0).astype(int)
school_middle_pd["pg_avg_averageStandardScore"] = (school_middle_pd["averageStandardScore"]/avergaeaverageStandardScore *10).fillna(0.0).astype(int)
school_middle_pd["pg_avg_rankMovement"] = school_middle_pd["rankMovement"]/avergaerankMovement *10
school_middle_pd["pg_avg_pupilTeacherRatio"] = (school_middle_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)

school_middle_pd['pt_rankStars'] = school_middle_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)
school_middle_pd['pt_rankStatewidePercentage'] = school_middle_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)
school_middle_pd['pt_averageStandardScore'] = school_middle_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)
school_middle_pd['pt_rankMovement'] = school_middle_pd.apply(lambda row: g(row['rankMovement']), axis=1)
school_middle_pd['pt_pupilTeacherRatio'] = school_middle_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)
school_middle_pd['total_points'] = school_middle_pd.apply(lambda row: h(row),axis=1)

school_middle_points=school_middle_pd[['postal','total_points']]
middle_groupby=school_middle_points.groupby('postal').mean()
middle_groupby

        total_points
postal
99999             41

In [21]:
# seperate high, high and high and assign scores
school_high_pd = school_dict_pd[school_dict_pd['schoolLevel']=='High']
school_high_pd = school_high_pd.copy()
averagerankStars = school_high_pd["rankStars"].mean()
avergaerankStatewidePercentage = school_high_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore = school_high_pd["averageStandardScore"].mean()
avergaerankMovement = school_high_pd["rankMovement"].mean()
avergaepupilTeacherRatio = school_high_pd["pupilTeacherRatio"].mean()

# Assign scores
school_high_pd["pg_avg_rankStars"] = (school_high_pd["rankStars"]/averagerankStars *10).fillna(0.0).astype(int)
school_high_pd["pg_avg_rankStatewidePercentage"] = (school_high_pd["rankStatewidePercentage"]/avergaerankStatewidePercentage *10).fillna(0.0).astype(int)
school_high_pd["pg_avg_averageStandardScore"] = (school_high_pd["averageStandardScore"]/avergaeaverageStandardScore *10).fillna(0.0).astype(int)
school_high_pd["pg_avg_rankMovement"] = school_high_pd["rankMovement"]/avergaerankMovement *10
school_high_pd["pg_avg_pupilTeacherRatio"] = (school_high_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)

school_high_pd['pt_rankStars'] = school_high_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)
school_high_pd['pt_rankStatewidePercentage'] = school_high_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)
school_high_pd['pt_averageStandardScore'] = school_high_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)
school_high_pd['pt_rankMovement'] = school_high_pd.apply(lambda row: g(row['rankMovement']), axis=1)
school_high_pd['pt_pupilTeacherRatio'] = school_high_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)
school_high_pd['total_points'] = school_high_pd.apply(lambda row: h(row),axis=1)

school_high_points = school_high_pd[['postal','total_points']]
high_groupby = school_high_points.groupby('postal').mean()
high_groupby

        total_points
postal
99999             23

In [24]:
zip_final_school_score = []

combined_df = pd.merge(high_groupby, middle_groupby, how='outer', on='postal')

zip_final_school_score = pd.merge(combined_df, elementary_groupby, how='outer', on='postal')
zip_final_school_score.replace(np.nan, 0, inplace=True)
zip_final_school_score.rename(columns={'total_points_x': 'high_score','total_points_y': 'middle_score', 'total_points': 'elementary_score'}, inplace=True)
zip_final_school_score['final_score'] = zip_final_school_score.apply(lambda row: i(row), axis=1)
zip_final_school_score

        high_score  middle_score  elementary_score  final_score
postal
99999           23            41                34     6.533333