In [ ]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import json
import pprint as pprint
import pandas as pd
import numpy as np
import time
from datetime import datetime
from config import gkey

In [ ]:
# get list of zipcodes
%run ./write_zips.ipynb
import zipcodes
importlib.reload(zipcodes)
required_zips = zipcodes.ziplist

In [ ]:
# helper functions
def f(x):
    if x >= 10:
        return 10
    elif x <= 0:
        return 1
       
    else:
        return x 
    

def g(x):
    if x >= 5:
        return 10
    elif x <= 0:
        return 1
    else:
        return 5 
    
    
def h(x):
    return x['pt_rankStars']+x['pt_rankStatewidePercentage'] +x['pt_averageStandardScore']+x['pt_rankMovement']+x['pt_pupilTeacherRatio']


def i(x):
    return (x['high_score']+x['middle_score'] +x['elementary_score'])/15


def k(x):
    if x >= 100:
        return 10
    elif x == 100:
        return 7.5
    elif x >= 50 and  x < 100:
        return 5
    elif x > 0 and  x < 50:
        return 1
    else:
        return 0


def l(x):
    return (x['score_grocery_stores']+x['score_avg_police']+x['score_station']+x['score_avg_museum'])

# Neighbourghood Elisas Code

In [68]:
target_coordinates = ["45.5200,122.6600","45.5114,112.6457"]
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
key = 'AIzaSyDC-djfofoGw5HOynqam0Hw5YHhG2gwuW4'

cafes_len = []
museum_len = []
groceries_len = []
police_len = []
transit_station_len = []

for i,target_coordinate in enumerate(target_coordinates):
    target_search = "grocery_or_supermarket"
    target_radius = 1500
    target_type = "grocery_or_supermarket"

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type": target_type,
         "key":key
    }

    response = requests.get(base_url, params=params)

    places_data = response.json()
    groceries = []
    for item in places_data["results"]:
        groceries.append(item["name"])

    groceries_len.append(len(groceries))
    print (groceries_len)
       
    
    #police
    police = []
    target_search = "police"
    target_type = "police"

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type": target_type,
         "key":key
    }

    response1 = requests.get(base_url, params=params)
    places_data = response1.json()

    for item in places_data["results"]:
        police.append(item["name"])
    police_len.append(len(police))

    # transit_station
    transit_station = []
    target_search = "transit_station "
    target_type = "transit_station "

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type": target_type,
        "key":key
    }

    response1=requests.get(base_url, params=params)
    places_data=response1.json()

    for item in places_data["results"]:
        transit_station.append(item["name"])
    transit_station_len.append(len(transit_station ))

    # museum       
    museum = []
    target_search = "museum"
    target_type = "museum"

    params = {
        "target_search":target_search,
        "location":target_coordinate,
        "radius":target_radius,
        "type":target_type,
         "key":key
    }

    response1 = requests.get(base_url, params=params)
    places_data = response1.json()
    
    for item in places_data["results"]:
        museum.append(item["name"])

    museum_len.append(len(museum))

2
45.5200,122.6600
[0]
[0]
[2]
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
[]
[0]
45.5114,112.6457
[0, 0]
[0, 0]
[2, 0]
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
[]
[0, 0]

In [70]:
placedata_df = {
    "target_coordinates":target_coordinates,
    "grocery_stores":groceries_len,
    "police":police_len, 
    "museum":museum_len,
    "transit_station":transit_station_len
}

placedata_df_pd = pd.DataFrame(placedata_df)

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_avg_museum,score_station,total_score
0,"45.5200,122.6600",0,0,0,2,,,,,,,,,
1,"45.5114,112.6457",0,0,0,0,,,,,,,,,

In [71]:
# extract graocery stores, police stations, museums, transit stations and assign scores
averagegrocery = placedata_df_pd["grocery_stores"].mean()
avergaepolice = placedata_df_pd["police"].mean()
avergaemuseum = placedata_df_pd["museum"].mean()
avergaetransit_station = placedata_df_pd["transit_station"].mean()

# Assign scores 
placedata_df_pd["pg_avg_grocery_stores"] = placedata_df_pd["grocery_stores"]/(averagegrocery*100).fillna(0.0).astype(int)
placedata_df_pd["pg_avg_police"] = placedata_df_pd["police"]/(avergaepolice*100 ).fillna(0.0).astype(int)
placedata_df_pd["pg_avg_museum"] = placedata_df_pd["museum"]/(avergaemuseum*100 ).fillna(0.0).astype(int)
placedata_df_pd["pg_avg_transit_station"] = placedata_df_pd["transit_station"]/avergaetransit_station*100

0.0
0.0
0.0
1.0

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_avg_museum,score_station,total_score
0,"45.5200,122.6600",0,0,0,2,0,0,0,200.0,,,,,
1,"45.5114,112.6457",0,0,0,0,0,0,0,0.0,,,,,

In [73]:
placedata_df_pd["score_grocery_stores"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_grocery_stores']), axis=1)
placedata_df_pd["score_avg_police"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_police']), axis=1)
placedata_df_pd["score_station"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_transit_station']), axis=1)
placedata_df_pd["score_avg_museum"] = placedata_df_pd.apply(lambda row: k(row['pg_avg_museum']), axis=1)
placedata_df_pd["total_score"] = placedata_df_pd.apply(lambda row: l(row), axis=1)
placedata_df_pd.head()

,target_coordinates,grocery_stores,police,museum,transit_station,pg_avg_grocery_stores,pg_avg_police,pg_avg_museum,pg_avg_transit_station,score_grocery_stores,score_avg_police,score_avg_museum,score_station,total_score
0,"45.5200,122.6600",0,0,0,2,0,0,0,200.0,0,0,0,10,10
1,"45.5114,112.6457",0,0,0,0,0,0,0,0.0,0,0,0,0,0

# SCHOOL

In [17]:
# Inititalize arrays for all the various parameters returned from response of call that is needed
postal = []
schoolLevel = []
rankStars = []
rankStatewidePercentage = []
averageStandardScore = []
rankMovement = []
pupilTeacherRatio = []

In [9]:
school_base_url="https://api.schooldigger.com/v1.1/schools?"

for zip in required_zips:
    params = {
        "appID":'cdcbd9a2',
        "appKey":'f21463a388bc041e25afa5dc32fb5014',
        "st":'GA',
        "zip":zip
    }

    # assemble url and make API request
    response = requests.get(school_base_url, params=params).json()
    response_df = pd.DataFrame(response)
    
    numberofresults = len(response_df)
    for i in range(numberofresults):
        schoolLevel.append(response_df["schoolList"][i].get("schoolLevel",np.nan))
        rankMovement.append(response_df["schoolList"][i].get("rankMovement",np.nan))
        postal.append(response_df["schoolList"][i]["address"].get("zip",np.nan))            

        try:
            rankStars.append(response_df["schoolList"][i]["rankHistory"][0].get("rankStars",np.nan))
            rankStatewidePercentage.append(response_df["schoolList"][i]["rankHistory"][0].get("rankStatewidePercentage",np.nan))
            averageStandardScore.append(response_df["schoolList"][i]["rankHistory"][0].get("averageStandardScore",np.nan))
        except (KeyError, IndexError, TypeError):
            rankStars.append(np.nan)
            rankStatewidePercentage.append(np.nan)
            averageStandardScore.append(np.nan)
                
        try:    
            pupilTeacherRatio.append(response_df["schoolList"][i]["schoolYearlyDetails"][0].get("pupilTeacherRatio",np.nan))
    
        except (KeyError, IndexError, TypeError):
            pupilTeacherRatio.append(np.nan)

        time.sleep(30)

im here
im here
im here

In [35]:
# create a data frame from all schools
school_dict = {
        "postal":postal,
        "schoolLevel":schoolLevel,
        "rankStars":rankStars,
        "rankStatewidePercentage":rankStatewidePercentage,
        "averageStandardScore":averageStandardScore,
        "rankMovement":rankMovement,
        "pupilTeacherRatio":pupilTeacherRatio
}

school_dict_pd = pd.DataFrame(school_dict)
school_dict_pd.replace(np.nan, 0, inplace=True)
school_dict_pd

,postal,schoolLevel,rankStars,rankStatewidePercentage,averageStandardScore,rankMovement,pupilTeacherRatio
0,30315,Alternative,0.0,0.00,0.00000,0.0,8.7
1,30315,Elementary,4.0,86.68,85.19753,17.0,11.7
2,30315,Elementary,1.0,10.92,12.97986,62.0,13.0
3,30315,Elementary,1.0,23.82,23.67344,-108.0,10.6
4,30315,Elementary,1.0,14.47,16.23003,98.0,11.4
5,30315,Elementary,0.0,6.87,10.08315,9.0,13.4
6,30315,High,3.0,58.64,46.33745,-102.0,18.9
7,30315,Private,0.0,0.00,0.00000,0.0,0.0
8,30315,Elementary,0.0,6.70,9.99531,30.0,13.4
9,30316,Middle,4.0,80.29,78.30117,10.0,11.8
10,30316,Private,0.0,0.00,0.00000,0.0,13.4
11,30316,Elementary,3.0,63.69,59.69093,35.0,11.1
12,30316,Private,0.0,0.00,0.00000,0.0,13.0
13,30316,High,2.0,32.71,29.65495,-18.0,15.2
14,30316,High,1.0,15.89,16.12123,5.0,15.2
15,30316,Alternative,0.0,0.00,0.00000,0.0,0.0
16,30316,Private,0.0,0.00,0.00000,0.0,8.8
17,30310,Middle,0.0,8.47,12.39993,-3.0,13.7
18,30310,Elementary,0.0,2.98,7.97284,9.0,14.8
19,30310,Elementary,0.0,5.21,9.18377,-4.0,14.0
20,30310,Private,0.0,0.00,0.00000,0.0,2.9
21,30310,Middle,4.0,69.80,64.84929,70.0,18.6
22,30310,Elementary,3.0,55.00,51.16533,179.0,15.4
23,30310,Elementary,0.0,3.89,8.52683,10.0,13.5
24,30310,Middle,1.0,10.50,14.01730,-9.0,16.7
25,99999,Elementary,4.0,22.21,20.07000,-75.0,12.6
26,99999,Middle,3.0,16.29,11.14000,69.0,15.4
27,99999,Elementary,1.0,44.30,0.24000,-17.0,13.5
28,99999,Private,0.0,0.00,0.00000,0.0,3.8
29,99999,Elementary,0.0,53.69,82.37000,47.0,13.1
...,...,...,...,...,...,...,...
262,30314,High,2.0,43.22,36.00596,23.0,14.1
263,30314,Elementary,0.0,0.00,0.00000,0.0,11.2
264,30314,Middle,3.0,52.49,49.32823,59.0,14.1
265,30314,Elementary,1.0,12.82,14.63941,-66.0,14.7
266,99999,Private,0.0,0.00,0.00000,0.0,6.0
267,99999,Elementary,4.0,5.95,50.22000,-27.0,13.3
268,30308,Private,0.0,0.00,0.00000,0.0,19.1
269,30307,High,3.0,67.06,53.41520,17.0,15.0
270,30307,Elementary,3.0,65.51,61.22256,-157.0,14.5
271,30307,Private,0.0,0.00,0.00000,0.0,3.6
272,30307,Elementary,5.0,98.92,98.46617,15.0,14.6
273,30307,Private,0.0,0.00,0.00000,0.0,7.2
274,30306,Alternative,0.0,0.00,0.00000,0.0,6.6
275,30306,Middle,5.0,93.74,92.90166,14.0,14.4
276,30306,Private,0.0,0.00,0.00000,0.0,9.0
277,30306,Elementary,5.0,97.85,97.51331,16.0,15.6
278,30306,Elementary,5.0,97.68,97.42910,2.0,14.6
279,30306,Alternative,0.0,0.00,0.00000,0.0,8.1
280,99999,Elementary,1.0,81.74,36.76000,47.0,13.2
281,99999,Private,0.0,0.00,0.00000,0.0,0.5
282,99999,Elementary,3.0,64.64,63.43000,31.0,13.2
283,99999,Elementary,4.0,18.22,59.46000,-16.0,14.7
284,99999,Alternative,0.0,0.00,0.00000,0.0,13.2
285,99999,Private,0.0,0.00,0.00000,0.0,7.3
286,99999,High,1.0,95.82,55.38000,-34.0,14.1
287,99999,Private,0.0,0.00,0.00000,0.0,9.0
288,99999,Elementary,1.0,92.31,48.26000,-62.0,12.5
289,99999,Alternative,0.0,0.00,0.00000,0.0,11.4
290,30309,High,4.0,86.68,74.58995,3.0,14.9
291,30309,Private,0.0,0.00,0.00000,0.0,5.9

In [37]:
# seperate middle, elementary and high and assign scores
school_elementary_pd = school_dict_pd[school_dict_pd['schoolLevel']=='Elementary']
school_elementary_pd = school_elementary_pd.copy()
averagerankStars = school_elementary_pd["rankStars"].mean()

avergaerankStatewidePercentage = school_elementary_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore = school_elementary_pd["averageStandardScore"].mean()
avergaerankMovement = school_elementary_pd["rankMovement"].mean()
avergaepupilTeacherRatio = school_elementary_pd["pupilTeacherRatio"].mean()

# Assign scores
school_elementary_pd["pg_avg_rankStars"] = school_elementary_pd["rankStars"]/(averagerankStars *10).fillna(0.0).astype(int)
school_elementary_pd["pg_avg_rankStatewidePercentage"] = school_elementary_pd["rankStatewidePercentage"]/(avergaerankStatewidePercentage *10).fillna(0.0).astype(int)
school_elementary_pd["pg_avg_averageStandardScore"] = school_elementary_pd["averageStandardScore"]/(avergaeaverageStandardScore *10).fillna(0.0).astype(int)
school_elementary_pd["pg_avg_rankMovement"] = school_elementary_pd["rankMovement"]/avergaerankMovement *10
school_elementary_pd["pg_avg_pupilTeacherRatio"] = school_elementary_pd["pupilTeacherRatio"]/(avergaepupilTeacherRatio *10).fillna(0.0).astype(int)
school_elementary_pd['pt_rankStars'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)
school_elementary_pd['pt_rankStatewidePercentage'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)
school_elementary_pd['pt_averageStandardScore'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)
school_elementary_pd['pt_rankMovement'] = school_elementary_pd.apply(lambda row: g(row['rankMovement']), axis=1)
school_elementary_pd['pt_pupilTeacherRatio'] = school_elementary_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)
school_elementary_pd['total_points'] = school_elementary_pd.apply(lambda row: h(row),axis=1)
school_elementary_points = school_elementary_pd[['postal','total_points']]
elementary_groupby = school_elementary_points.groupby('postal').mean()

elementary_groupby

        total_points
postal
30306       47.50000
30307       45.50000
30310       28.25000
30314       25.25000
30315       30.50000
30316       48.00000
30317       32.75000
99999       35.56962

In [38]:
# seperate middle, middle and high and assign scores
school_middle_pd = school_dict_pd[school_dict_pd['schoolLevel']=='Middle']
averagerankStars = school_middle_pd["rankStars"].mean()
avergaerankStatewidePercentage = school_middle_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore = school_middle_pd["averageStandardScore"].mean()
avergaerankMovement = school_middle_pd["rankMovement"].mean()
avergaepupilTeacherRatio = school_middle_pd["pupilTeacherRatio"].mean()

# Assign scores
school_middle_pd["pg_avg_rankStars"] = school_middle_pd["rankStars"]/(averagerankStars *10).fillna(0.0).astype(int)
school_middle_pd["pg_avg_rankStatewidePercentage"] = school_middle_pd["rankStatewidePercentage"]/(avergaerankStatewidePercentage *10).fillna(0.0).astype(int)
school_middle_pd["pg_avg_averageStandardScore"] = school_middle_pd["averageStandardScore"]/(avergaeaverageStandardScore *10).fillna(0.0).astype(int)
school_middle_pd["pg_avg_rankMovement"] = school_middle_pd["rankMovement"]/avergaerankMovement *10
school_middle_pd["pg_avg_pupilTeacherRatio"] = school_middle_pd["pupilTeacherRatio"]/(avergaepupilTeacherRatio *10).fillna(0.0).astype(int)
school_middle_pd['pt_rankStars'] = school_middle_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)
school_middle_pd['pt_rankStatewidePercentage'] = school_middle_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)
school_middle_pd['pt_averageStandardScore'] = school_middle_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)
school_middle_pd['pt_rankMovement'] = school_middle_pd.apply(lambda row: g(row['rankMovement']), axis=1)
school_middle_pd['pt_pupilTeacherRatio'] = school_middle_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)
school_middle_pd['total_points'] = school_middle_pd.apply(lambda row: h(row),axis=1)

school_middle_points=school_middle_pd[['postal','total_points']]
middle_groupby=school_middle_points.groupby('postal').mean()
middle_groupby

        total_points
postal
30306      49.000000
30310      27.666667
30314      49.000000
30316      47.000000
99999      33.785714

In [39]:
# seperate high, high and high and assign scores
school_high_pd = school_dict_pd[school_dict_pd['schoolLevel']=='High']
school_high_pd = school_high_pd.copy()
averagerankStars = school_high_pd["rankStars"].mean()
avergaerankStatewidePercentage = school_high_pd["rankStatewidePercentage"].mean()
avergaeaverageStandardScore = school_high_pd["averageStandardScore"].mean()
avergaerankMovement = school_high_pd["rankMovement"].mean()
avergaepupilTeacherRatio = school_high_pd["pupilTeacherRatio"].mean()

# Assign scores
school_high_pd["pg_avg_rankStars"] = school_high_pd["rankStars"]/(averagerankStars *10).fillna(0.0).astype(int)
school_high_pd["pg_avg_rankStatewidePercentage"] = school_high_pd["rankStatewidePercentage"]/(avergaerankStatewidePercentage *10).fillna(0.0).astype(int)
school_high_pd["pg_avg_averageStandardScore"] = school_high_pd["averageStandardScore"]/(avergaeaverageStandardScore *10).fillna(0.0).astype(int)
school_high_pd["pg_avg_rankMovement"] = school_high_pd["rankMovement"]/avergaerankMovement *10
school_high_pd["pg_avg_pupilTeacherRatio"] = (school_high_pd["pupilTeacherRatio"]/avergaepupilTeacherRatio *10).fillna(0.0).astype(int)
school_high_pd['pt_rankStars'] = school_high_pd.apply(lambda row: f(row['pg_avg_rankStars']), axis=1)
school_high_pd['pt_rankStatewidePercentage'] = school_high_pd.apply(lambda row: f(row['pg_avg_rankStatewidePercentage']), axis=1)
school_high_pd['pt_averageStandardScore'] = school_high_pd.apply(lambda row: f(row['pg_avg_averageStandardScore']), axis=1)
school_high_pd['pt_rankMovement'] = school_high_pd.apply(lambda row: g(row['rankMovement']), axis=1)
school_high_pd['pt_pupilTeacherRatio'] = school_high_pd.apply(lambda row: f(row['pg_avg_pupilTeacherRatio']), axis=1)
school_high_pd['total_points'] = school_high_pd.apply(lambda row: h(row),axis=1)

school_high_points = school_high_pd[['postal','total_points']]
high_groupby = school_high_points.groupby('postal').mean()
high_groupby

        total_points
postal
30307      50.000000
30309      45.000000
30314      34.500000
30315      41.000000
30316      33.500000
30317       8.000000
99999      33.172414

In [41]:
zip_final_school_score = []

combined_df = pd.merge(high_groupby, middle_groupby, how='outer', on='postal')

zip_final_school_score = pd.merge(combined_df, elementary_groupby, how='outer', on='postal')
zip_final_school_score.replace(np.nan, 0, inplace=True)
zip_final_school_score.rename(columns={'total_points_x': 'high_score','total_points_y': 'middle_score', 'total_points': 'elementary_score'}, inplace=True)
zip_final_school_score['final_score'] = zip_final_school_score.apply(lambda row: i(row), axis=1)
zip_final_school_score